.flex {
    display: flex;
}
main{
    width: 80%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-container{
    margin-top: 4em;
}

.admin-container {
    background-color: white;
    padding: 4em;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.185);
}

.admin-container img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.admin-container label {
    font-size: 1.2rem;
    font-weight: bold;
    color: #1A2250;
}

.admin-container p {
    font-size: 14px;
    color: #3B4169;
    margin: 10px 0;
}

.admin-container textarea,
button {
    width: 100%;
    border: none;
    padding: 14px;
    border-radius: 3px;
}

.admin-container textarea {
    border: 2px solid #DADDEC;
    margin: 5px 0 10px;
    font-size: 1rem;
    color: #656880;
}

.admin-container button {
    background-image: linear-gradient(to right, #89CAFF, #6589FF);
    display: block;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 0 5px 20px #89caff94;
    transition: box-shadow .3s ease-in-out;
}

.admin-container button:hover {
    box-shadow: none;
}

.admin-container span {
    display: block;
    text-align: center;
    margin: 20px 0 0;
    color: #BABDCB;
    font-size: 12px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.instruction{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.instruction-item{
    width: 18em;
    margin-bottom: 2em;
}